  
{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login_style.css')}}" >
    <h2>Login now!</h2>
    <p>Ingresa tu usuario y contraseña en RReservaciones</p>
    <p>
        <a href="{{ url_for('index') }}">Regresar al inicio</a>
    </p>

    <form id="login", method="POST">
        
        <p class="campo">
            <label for="usuario" >Usuario: </label><br />
            <input type="text" name="user" id="usuario" placeholder="Usuario">
        </p>

        <p id="error1" class="hidden1" style="color:red"></p>

        <p class="campo">
            <label for="password">Password: </label> <br />
            <input type="password" name="password" id="pass" placeholder="Password">
        </p>

        <div id="error" class="hidden4" style="color:red"></div>

        <p class="campo enviar" id="input_iniciar">
            <input type="hidden" id="tipo" value="crear"> <br />
            <input  type="submit" class="boton" value="Iniciar sesión">
        </p>
    </form>

   <!--JAVASCRIPT-FETCH-->
   <script>
    document.getElementById("login").onsubmit = function(log){//evento del boton, implementamos en una funcion
        log.preventDefault();
        fetch('/users/login', {
            method:'POST',
            body: JSON.stringify({
                //key- name:value-id
                'user':document.getElementById('usuario').value,
                'password':document.getElementById('pass').value
            }),
            headers: {
                'Content-Type':'application/json'
            }
        }).then(function(response){
            return response.json()
        }).then(function(jsonResponse){
            console.log(jsonResponse)
            if(jsonResponse['exist']===true){
                window.location.href = "/reservation_status"
                document.getElementById("error").className='hidden4'
            }else{
                document.getElementById("error").className=''
                document.getElementById("error").innerHTML=jsonResponse['error_message']
            }
        });
    };
    </script>

    <p>¿Aun no te has registrado? <a href="/registration">Registrate aca</a>.</p>
{% endblock%}