body {
    background: url(../static/imagen_restaurante.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #a1a1a1;
    font-weight: bold;
    text-align: center;
}

a{
    color: aqua;
}

input{
    background-color: rgba(255, 255, 255);
    color: #000;
    padding: 5px;
    border: 3px solid #a1a1a1;
    border-radius: 4px;
    text-align: center;
    font-family: 'Gill Sans', Calibri, sans-serif;
    padding-bottom: 10px;;
}